/* Правый sidebar */
.aside {
  background: #3c4b64;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aside__logo {
  text-align: center;
  padding: 15px 0;
  background: #303C50;
  flex-grow: 0;
  height: 104px;

  img {
    height: 100%;
  }
}

.aside__menu {
  flex: 1 0 auto;
}
