/* Базовые кнопки у bootstrap */
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;

  .no-touchevents &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }

  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle,
  &:focus {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }
}

.btn-outline-primary {
  font-weight: 500;
  border: 2px solid;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;

  .no-touchevents &:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }

  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle,
  &:focus {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
  }
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;

  .no-touchevents &:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }

  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle,
  &:focus {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
  }
}
