/* Фиксированная шапка сайта */
.header {
  background: #FFFFFF;
  box-shadow: $box-shadow-block;
  position: sticky;
  top: 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  border-bottom: 1px solid #dee2e6;
  padding: 0 1.5rem;
}

.header__btn {
  flex: 0 0 auto;
  line-height: 1;
  font-size: 0;
}

.header__login {
  flex: 0 0 auto;
  height: 44px;
  position: relative;

  img {
    height: 100%;
    cursor: pointer;
  }
}

.header__bottom {
  padding: 0 1.5rem;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  h3 {
    margin: 0!important;
    padding: 0!important;
  }
}

